/* Place your CSS styles in this file */

:root {
	font-size: 15px;
	--font_0: "JetBrains Mono", sans-serif;
	--button_font: 1rem var(--font_0);
	--button_padding: 0.25rem 0.5rem;
	--note_font: 1rem var(--font_0);
	--note_color: #000000;
	--heading_font_family: var(--font_0);
	--text_font: 200 1.5rem var(--font_0);
    
	--nav_height: fit-content;
	--nav_width: 100%;
	--main_width: 100%;
	--title_font_weight: 500;
	--title_font_size: 5rem;
	--title_font_family: var(--font_0);
	--title1_font: 400 2rem var(--font_0);
	--greating_text_font: 1.2rem Courier;
    
	--navigation_element_font: 500 1rem var(--font_0);
    
	--content_font_family: var(--font_0);
}

@media (prefers-color-scheme: dark) {
	:root {
	    --body_bg_color: #000000;
	    --text_color: #fff;
	    --nav_bg_color: #2a2a2a;
	    --button_bg_color: #2a2a2a;
	    --button_text_color: #ffffff;
	    --button_hover_bg_color: #fff;
	    --button_hover_text_color: #2a2a2a;
	    --note_background_color: #f6f884;
	    --note_background_color: #e1e1e1;
	}
}
@media (prefers-color-scheme: light) {
	:root {
	    --body_bg_color: #ffffff85;
	    --text_color: #000000;
	    --nav_bg_color: #000000;
	    --button_bg_color: var(--nav_bg_color);
	    --button_text_color: #fff;
	    --button_hover_bg_color: #fff;
	    --button_hover_text_color: #000;
	    --note_background_color: #e1e1e1;
	}
}
@media only screen and (min-width: 900px) {
	:root {
	    --nav_height: 100%;
	    --nav_width: 15%;
	    --main_width: 85%;
	    --button_padding: 0.5rem 1rem;
	    --button_font: 1.2rem var(--font_0);
	    --navigation_element_font: 500 1rem var(--font_0);
	}
	._sub {
	    margin-left: 2rem!important;
	}
}
::-webkit-scrollbar {
	width: 0.8rem;
}
::-webkit-scrollbar-thumb {
	background-color: transparent;
	border: 0.15rem solid #ccc;
}
::-webkit-scrollbar-thumb:hover {
	border: 0.15rem solid #fff;
}
::-webkit-scrollbar-thumb:active {
	border: 0.15rem solid #fff;
}
::-webkit-scrollbar-button {
	display: none;
}
* {
	box-sizing: border-box;
}

body {
	background-color: var(--body_bg_color);
	margin: 0;
}
body * {
	color: var(--text_color);
}
h1, h2, h3, h4, h5, h6, p {
	font-weight: normal;
	width: fit-content;
	width: -moz-fit-content;
	margin: 1rem 0;
}
ul li {
	margin: 1rem 0;
	width: fit-content;
	width: -moz-fit-content;
}
h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading_font_family);
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.5rem;
}
h3{
	font-size: 2rem;
}
h4{
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}
p {
	font: var(--text_font);
}
._noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
	     -moz-user-select: none; /* Firefox */
	      -ms-user-select: none; /* Internet Explorer/Edge */
		  user-select: none; /* Non-prefixed version, currently
					supported by Chrome and Opera */
}
._centerV {
	margin-top: auto!important;
	margin-bottom: auto!important;
}
._centerH {
	margin-left: auto!important;
	margin-right: auto!important;
}
._centerV_items {
	display: flex;
	align-items: center;
}
._centerH_items {
	display: flex;
	justify-content: center;
}
._space_between_items {
	display: flex;
	justify-content: space-between;
}
._flex_column {
	display: flex;
	flex-direction: column;
}
._flex_row {
	display: flex;
	flex-direction: row;
}
._fill_available {
	width: -webkit-fill-available!important;
}
._left {
	margin-left: 0;
	margin-right: auto;
	float: left;
}
._right {
	margin-left: auto;
	margin-right: 0;
	float: right;
}
._container {
	padding: 0.1rem 0.75rem;
}
._container_out {
	margin: 1rem 0rem;
}
._container::before , ._container:after {
	content: "";
	display: block;
	clear: both;
}
._expandable {
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}
._sub {
	margin-left: 0rem;
}
._button {
	font: var(--button_font)!important;
	cursor: pointer;
}
._button, ._button i {
	background-color: var(--button_bg_color);
	padding: var(--button_padding);
	color: var(--button_text_color);
}
._button:hover, ._button:hover i {
	background-color: var(--button_hover_bg_color);
	color: var(--button_hover_text_color);
}
._cursor_pointer {
	cursor: pointer;
}
._note {
	background-color: var(--note_background_color);
	font: var(--note_font);
	padding: 0.5rem;
	color: var(--note_color);
	border: 0;
	border-left: 0.2rem solid #1e90ff;
}
._note p {
	color: var(--note_color);
}
._link {
	font: var(--text_font);
	color: #1e90ff;
}
._link:hover {
	 color: #ccc;
}
._not_link {
	color: inherit;
	text-decoration: none;
}
._not_link:hover {
	color: inherit;
}
._not_link:active {
	color: inherit;
}
._rotatable {
	transform: rotate(0deg);
	transition: all 0.3s;
}
._rotation_active {
	transform: rotate(180deg);
}

@media only screen and (max-width: 900px) {
    
	.navigation p {
		padding-left: 0;
	}
}
@media only screen and (min-width: 900px) {
	.main {
		width: var(--main_width);
	}
	nav {
		position: fixed!important;
		top: 0;
	}
	.nav_large {
		display: block!important;
	}
	
	.nav_small {
		display: none!important;
	}
	.self_image_small {
		display: none;
	}
	.self_image {
		overflow: hidden;
	}
	.navigation {
		display: block!important;
		padding: 0.1rem 0.75rem!important;
	}
	.navigation p {
		width: -webkit-fill-available!important;
		margin: 0.5rem 1rem;
	}
    
}
.typed-cursor {
	opacity: 1;
}
.typed-cursor.typed-cursor--blink{
	animation: typedjsBlink 0.7s infinite;
	-webkit-animation: typedjsBlink 0.7s infinite;
			animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink{
	50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink{
	0% { opacity: 1; }
	50% { opacity: 0.0; }
	100% { opacity: 1; }
}
    
header {
	width: 100%;
	margin: 1rem 0;
}
.title {
	font: var(--title_font_weight) var(--title_font_size) var(--title_font_family);
	height: var(--title_font_size)
}
.title1 {
	font: var(--title1_font);
}
.greating_text {
	font: var(--greating_text_font)!important;
	margin: 1.5rem;
}
nav {
	background-color: var(--nav_bg_color);
	height: var(--nav_height);
	width: var(--nav_width);
}
.nav_large {
	display: none;
}
.nav_small {
	display: block;
	position: sticky;
	top: 0;
	padding: 0 1rem;
	overflow: hidden;
	z-index: 6;
}
.nav_small .navigation {
	height: 0;
	transition: all 0.3s;
}
.self_image, .self_image_small {
	width: 100%;
	overflow: hidden;
}
.self_image img, .self_image_small img {
	height: 100%;
	width: 100%;
}
.navigation {
	padding: 0;
}
.navigation p {
	font: var(--navigation_element_font)!important;
	width: fit-content;
	height: fit-content;
	margin: 0.25rem 0;
}
.main_content {
	width: 100%;
}
.about_me, .languages_i_have_dealt_with, .some_of_the_projects_i_have_worked_on, .interesting_other_things, .links_ive_gathered {
	font-family: var(--content_font_family);
}
.account_links p {
	height: 2rem;
	width: 2rem;
	margin: 0 0.5rem;
}
.account_links p img {
	height: 100%!important;
	width: 100%!important;
}
.account_links p svg {
	height: 100%;
	width: 100%;
}
footer {
	height: 20rem;
}