/* Place your CSS styles in this file */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* @import "resources/css/index.css"; */

:root {
	font-size: 14px;
	font-family: 'Space Grotesk', sans-serif;
	--font_0: 'Space Grotesk', sans-serif;
	--font_1: Courier;
	--body_bg_color: #0e0e0e;
	--inverted_body_bg_color: #f0f0f0;
	--text_color: var(--sc_white_10);
	--inverted_text_color: #1f1f1f;

	--sc_pure_white: #ffffff;
	--sc_white: #f0f0f0;
	--sc_white_10: #f0f0f01a;
	--sc_white_25: #f0f0f040;
	--sc_black: #0e0e0e;
	--sc_black_10: #0e0e0e1a;
	--sc_black_25: #0e0e0e40;
	--sc_black_50: #0e0e0e80;
	--sc_light_gray: #e8e8e8;
	--sc_gray: #b7b7b7;
	--sc_dark_blue: #202124;
	--sc_dark_blue_10: #2021241a;
	--sc_dark_blue_25: #20212440;
	--sc_dark_blue_50: #20212480;
	--sc_light_red: #fc4445;


	--selected_text_bg_color: var(--sc_white_25);
	--selected_text_color: var(--sc_white);

	--icon_font_size: 1.2rem;
	--icon_height: 2rem;
	--icon_width: 2rem;
	--icon_color: var(--sc_light_red);

	/* NAV */
	--nav_bg_color: var(--sc_dark_blue);
	/*#1f1f1f;*/
	--nav_height: fit-content;
	--nav_width: 100%;

	--nav_resun_font: 600 1.5rem var(--font_1);


	/* heading */
	--heading_font_family: var(--font_1);
	--heading_text_color: var(--sc_pure_white);

	/* some_material */
	--some_material_font: 700 3rem var(--font_0);

	/* main_content */
	--main_content_section_heading_font: 400 1.3rem var(--font_0);

	--input_font: var(--font_0);
	--input_text_color: #fff;
	--input_border_color: #ccc;
	--button_bg_color: transparent;
	--button_text_color: var(--text_color);
	--button_hover_bg_color: var(--sc_light_red);
	--button_hover_text_color: var(--sc_white);
	--note_background_color: var(--sc_dark_blue_10);
	--note_border_left: 4px solid var(--sc_light_red);
	--note_border_radius: 0;
	--button_font: 1rem var(--font_0);
	--button_padding: 0.5rem 1rem;
	--note_font: 1rem var(--font_0);
	--note_color: #000000;
	--note_padding: 1rem;



	--thin_font_weight: 100;
	--extralight_font_weight: 200;
	--light_font_weight: 300;
	--regular_font_weight: 400;
	--medium_font_weight: 500;
	--semibold_font_weight: 600;
	--bold_font_weight: 700;
	--extrabold_font_weight: 800;
	--text_font_size: 1.2rem;
	--text_font: var(--regular_font_weight) var(--text_font_size) var(--font_0);
	--link_font: var(--regular_font_weight) var(--text_font_size) var(--font_0);
	--link_color: #26afe6;
	--link_hover_color: var(--sc_light_red);
	--main_width: 100%;
	--title_font: var(--medium_font_weight) 4rem var(--font_0);
	--title1_font: 400 2rem var(--font_0);
	--greeting_text_color: var(--sc_white);
	--greeting_text_font_size: 6vw;
	--greeting_text_mobile_font_size: 2rem;
	--greeting_text_font_weight: 900;
	--greeting_text_font_family: var(--font_1);
	--greeting_text_shadow: 8px 8px 2px var(--body_bg_color);
	--about_me_font_size: 1.8vw;
	--about_me_mobile_font_size: 1.2rem;
	--about_me_font_weight: 100;
	--about_me_padding: 0 2rem;
	--about_me_text_shadow: 2px 2px 1px var(--body_bg_color);


	--point_down_svg_color: var(--sc_light_red);

	--navigation_element_font: 500 1rem var(--font_0);
	--navigation_element_color: var(--sc_gray);
	--content_font_family: var(--font_0);


	/* _expandable_container */

	--expandable_bg_color: var(--sc_dark_blue);
	--expandable_shadow: none;
	--expansion_image_shadow: 0px 4px 4px 0px var(--sc_black_50);
	--expandable_body_padding: 0 2rem;
	--expandable_active_body_padding: 2rem;
	--expandable_active_padding: 0;
	--expandable_container_margin: 0;
	--expandable_container_border_radius: 2rem;
	--expander_padding: 1.2rem 2rem;
	--expandable_padding: 1.2rem 2rem;
	--expander_font: 600 1.2rem var(--font_0);
	--expander_sign_color: var(--sc_light_red);
	--expandable_transition_duration: 0.5s;
	--expandable_transition_timing_function: ease-in-out;


	--language_list_language_color: #ffffff;
	/* START		underline_animator */
	--underline_animator_height: 2px;
	--underline_animator_bg: var(--sc_white_10);
	/* --underline_animator_bg: -webkit-linear-gradient(to right, #9989ff80, #faaef280, #26afe680);
	--underline_animator_bg: linear-gradient(to right, #9989ff80, #faaef280, #26afe680); */
	/* END			underline_animator */


	/* START		small_card */
	--small_card_bg_color: var(--sc_dark_blue);
	--small_card_color: var(--text_color);
	--small_card_padding: var(--button_padding);
	--small_card_margin: 0.2rem;
	/* --small_card_border: 2px solid var(--sc_white_10); */
	--small_card_border_radius: 2rem;
	--small_card_box_shadow: none;
	/* END			small_card */



	/*0px 0px 3px 0px #ffffff7f;*/

	--social_link: ;
	--social_link_height: 1.5rem;
	--social_link_width: 1.5rem;
	--social_link_padding: 0.5rem;
	--social_link_margin: 0.5rem;
	--social_link_color: var(--sc_gray);
	--social_link_hover_color: var(--sc_light_red);
}

@media (prefers-color-scheme: dark) {
	:root {
		--body_bg_color: var(--sc_black);
		--text_color: #fff;
		--nav_bg_color: var(--sc_dark_blue);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--body_bg_color: var(--sc_light_gray);
		--selected_text_bg_color: var(--sc_dark_blue_50);
		--selected_text_color: var(--sc_white);
		--expandable_bg_color: var(--sc_pure_white);
		--expandable_shadow: 0px 0px 200px 20px var(--sc_dark_blue_10);
		--text_color: var(--sc_dark_blue);
		--nav_bg_color: var(--sc_pure_white);
		--button_bg_color: transparent;
		--button_text_color: var(--text_color);
		--button_hover_bg_color: var(--sc_light_red);
		--button_hover_text_color: var(--sc_white);
		--heading_text_color: var(--sc_black);

		--navigation_element_color: var(--sc_dark_blue);
		--social_link_color: var(--sc_dark_blue);

		--greeting_text_color: var(--sc_dark_blue);

		--language_list_language_color: var(--sc_black);
		--underline_animator_bg: var(--sc_pure_white);
		--small_card_bg_color: var(--sc_pure_white);
		/* --small_card_border: 1px solid var(--sc_pure_white); */
		--main_content_section_heading_font: 600 1.3rem var(--font_0);
	}
}

@media only screen and (min-width: 768px) {
	:root {
		--nav_height: 100%;
		--nav_width: 25%;
		--main_width: 75%;
		--button_padding: 0.5rem 1rem;
		--button_font: 1.2rem var(--font_0);
		--navigation_element_font: 500 1.1rem var(--font_0);
		--title_font: var(--medium_font_weight) 5rem var(--font_0);
	}

	._sub {
		margin-left: 2rem !important;
	}
}

::-webkit-scrollbar {
	display: none;
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--sc_gray);
	/* border: 0.15rem solid var(--selected_text_color); */
	transition: height 0.3s;
	transition-timing-function: ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--sc_white);
}

::-webkit-scrollbar-thumb:active {
	background-color: var(--sc_white);
}

::-webkit-scrollbar-button {
	display: none;
}

::-moz-selection {
	background-color: var(--selected_text_bg_color);
	color: var(--selected_text_color);
}

::selection {
	background-color: var(--selected_text_bg_color);
	color: var(--selected_text_color);
	/* background-blend-mode: color; */
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--body_bg_color);
	margin: 0;
}

body * {
	color: var(--text_color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	width: fit-content;
	width: -moz-fit-content;
}

ul li {
	margin: 1rem 0;
	width: fit-content;
	width: -moz-fit-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading_font_family);
}

._heading {
	font-family: var(--heading_font_family);
	color: var(--heading_text_color);
}

p {
	font: var(--text_font);
	line-height: 1.5rem;
	color: var(--text_color);
}

._expandable {
	background-color: var(--expandable_bg_color);
	margin: var(--expandable_container_margin);
	border-radius: var(--expandable_container_border_radius);
	overflow: hidden;
	box-shadow: var(--expandable_shadow);
}

._expandable.active {
	padding: var(--expandable_active_padding);
}

._expandable_header {
	padding: 0;
	max-height: 24rem;
	height: fit-content;
	width: 100%;
}

._expandable_body {
	padding: var(--expandable_body_padding);
	transition: padding var(--expandable_transition_duration) var(--expandable_transition_timing_function);
}

._expansion_images_container {
	height: 0;
}

/* ._expandable.active ._expandable_header {
	max-height: 24rem;
	height: 40%;
	box-shadow: var(--expandable_header_shadow);
} */

._expandable.active ._expandable_body {
	padding: var(--expandable_active_body_padding);
}

._expandable.active ._rotatable {
	transform: rotate(180deg);
}

/* ._expandable.active ._expansion_image {
	width: 100%;
	height: 100%;
} */

._expansion_image {
	width: 0;
	height: 0;
	object-fit: contain;
	overflow: hidden;
	transition: height var(--expandable_transition_duration), width var(--expandable_transition_duration);
	transition-timing-function: var(--expandable_transition_timing_function);
	box-shadow: var(--expansion_image_shadow);
}

._expansion {
	height: 0;
	overflow: hidden;
	transition-property: height, width;
	transition-duration: var(--expandable_transition_duration);
	transition-timing-function: var(--expandable_transition_timing_function);
}

/* ._with_header_image ._expansion {
	transition: height 0.s, width 0.8s;
} */

._expander_sign {
}

._expander_text {}

._expander {
	padding: var(--expander_padding) !important;
	font: var(--expander_font);
}
._expander_content {
	transition: width var(--expandable_transition_duration) var(--expandable_transition_timing_function);
}

._sub {
	margin-left: 0rem;
}

._input {
	background-color: transparent;
	width: 10rem;
	height: 2rem;
	border: 0;
	outline: 0;
	font: var(--input_font);
	font-size: 1rem;
	font-weight: 400 !important;
	color: var(--input_text_color);
	outline: none;
	border: 0.1rem solid var(--input_border_color);
	border-radius: 0.2rem;
}

._date_input::-webkit-calendar-picker-indicator {
	background-color: var(--text_color);
	color: var(--text_color);
}

._button {
	font: var(--button_font) !important;
	cursor: pointer;
}

._button {
	background-color: var(--button_bg_color);
	padding: var(--button_padding);
	color: var(--button_text_color);
	transition: all 0.3s;
}

._button ._icon {
	background-color: transparent;
	color: inherit;
	fill: inherit;
	transition: inherit;
}

._button:hover {
	background-color: var(--button_hover_bg_color);
	color: var(--button_hover_text_color);
	fill: var(--button_hover_text_color);
}

._cursor_pointer {
	cursor: pointer;
}

._note {
	background-color: var(--note_background_color);
	font: var(--note_font);
	padding: var(--note_padding);
	color: var(--note_color);
	border-radius: var(--note_border_radius);
	border: 0;
	border-left: var(--note_border_left);
}

._note p {
	color: var(--note_color);
}

._link {
	font: var(--link_font);
	color: var(--link_color);
}

._link:hover {
	color: var(--link_hover_color);
}

._not_link {
	color: inherit;
	text-decoration: none;
}

._not_link:hover {
	color: inherit;
}

._not_link:active {
	color: inherit;
}

._rotatable {
	transform: rotate(0deg);
	transition: all 0.3s;
}

._rotation_active {
	transform: rotate(180deg);
}

._icon {
	font-size: var(--icon_font_size);
	height: var(--icon_height);
	width: var(--icon_width);
	fill: var(--icon_color);
}

._white_text {
	color: #ffffff;
}

.underline_animator {
	background: var(--underline_animator_bg);
	width: 0;
	height: var(--underline_animator_height);
	transition: width 0.6s;
	transition-delay: 0.6s;
	transition-timing-function: ease-in-out;
}

.underline_animator.active {
	width: 100%;
}

.small_card {
	background-color: var(--small_card_bg_color);
	background-blend-mode: color-burn, normal;
	backdrop-filter: blur(32px);
	padding: var(--small_card_padding);
	color: var(--small_card_color);
	margin: var(--small_card_margin);
	border: var(--small_card_border);
	border-radius: var(--small_card_border_radius);
	line-height: 1.6rem;
	box-shadow: var(--small_card_box_shadow);
}

.animated_small_card .small_card {
	opacity: 0;
	transition: opacity 0.3s;
	transition-delay: 0.6s;
	transition-timing-function: ease-in-out;
}

.animated_small_card .small_card.active {
	opacity: 1;
}

@media only screen and (max-width: 768px) {
	.navigation p {
		padding-left: 0;
	}

	.nav_large {
		display: none !important;
	}
}

@media only screen and (min-width: 768px) {
	._input {
		width: 25rem;
	}

	.greeting_text {
		font-size: var(--greeting_text_font_size) !important;
	}

	.about_me {
		font-size: var(--about_me_font_size) !important;
	}


	.main {
		width: var(--main_width);
		margin-left: auto;
		margin-right: 0;
		transition: width 0.3s;
	}

	.main.wide {
		width: 100% !important;
	}

	nav {
		overflow: hidden;
		position: fixed !important;
		top: 0;
	}

	.nav_large {
		display: flex !important;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.6s;
		transition-timing-function: ease-in-out;
	}

	.nav_large.active {
		transform: scaleX(1);
		transform-origin: left;
		transition: transform 0.6s;
		transition-timing-function: ease-in-out;
	}

	.nav_small,
	.nav_small.active {
		display: none !important;
	}

	.self_image_small {
		display: none;
	}

	.self_image {
		overflow: hidden;
	}

	.social_links_small {
		display: none !important;
	}

	.navigation {
		display: block !important;
		padding: 0.1rem 0rem !important;
	}

	.navigation p {
		width: -webkit-fill-available !important;
		margin: 0.5rem 1rem;
	}

	.social_link {
		padding: var(--social_link_padding) !important;
		margin: var(--social_link_margin) !important;
	}

	.main_content {
		padding: 0 2rem !important;
	}

	.main_languages_desc_container {
		display: flex;
		flex-direction: row !important;
	}

	.main_languages_desc {
		width: 40% !important;
	}

	.main_languages_desc_container .language_list {
		width: 40% !important;
	}

	._expandable {}



	.project_list,
	.other_thing_list {
		display: grid !important;
		grid-template-columns: auto auto !important;
	}
}

.typed-cursor {
	opacity: 1;
}

.typed-cursor.typed-cursor--blink {
	animation: typedjsBlink 0.7s infinite;
	-webkit-animation: typedjsBlink 0.7s infinite;
	animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
	50% {
		opacity: 0.0;
	}
}

@-webkit-keyframes typedjsBlink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.0;
	}

	100% {
		opacity: 1;
	}
}

header {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.title_container {
	min-height: 25%;
}

.title,
.title * {
	font: var(--title_font);
	color: #e8e8e8 !important;
	width: fit-content;
	height: fit-content;
}

.title1 {
	font: var(--title1_font);
}

.greeting_text {
	font-size: var(--greeting_text_mobile_font_size);
	font-weight: var(--greeting_text_font_weight);
	font-family: var(--greeting_text_font_family);
	color: var(--greeting_text_color);
	line-height: 1;
	white-space: nowrap;
	/* text-shadow: var(--greeting_text_shadow); */
}

.greeting_text * {
	font: inherit;
	color: inherit;
	white-space: nowrap;
}

.about_me {
	font-size: var(--about_me_mobile_font_size);
	font-weight: var(--about_me_font_weight);
	font-family: var(--content_font_family);
	text-align: center;
	/* text-shadow: var(--about_me_text_shadow); */
	padding: var(--about_me_padding);
	opacity: 0;
	transition: opacity 0.3s;
}

.point_down_anim_container {
	height: 0 !important;
	overflow: visible;
}

.point_down {
	position: relative;
	opacity: 0;
	transition: margin 1s, opacity 0.2s;
}

.point_down.active {
	opacity: 1;
}


.point_down._bar_arrow {
	margin-top: 0;
}

.point_down._bar_arrow.active {
	margin-top: 2rem;
}

.point_down._arrow_1 {
	margin-top: 0;
}

.point_down._arrow_1.active {
	margin-top: 13vh;
}

.point_down._arrow_2 {
	margin-top: -6rem;
}

.point_down._arrow_2.active {
	margin-top: -3rem;
}

.point_down svg {
	fill: var(--point_down_svg_color);
}

.about_me.active {
	opacity: 1;
}

nav {
	background-color: var(--nav_bg_color);
	height: var(--nav_height);
	width: var(--nav_width);
}


.nav_small {
	display: none;
	position: sticky;
	top: 0;
	padding: 0 1rem;
	overflow: hidden;
	z-index: 6;
}

.nav_small.active {
	display: flex;
}

.nav_small .navigation {
	height: 0;
	transition: all 0.3s ease-in-out;
}

.self_image img {
	width: 0;
	height: 0;
	transition: all 0.3s ease-in-out;
}

.self_image.active img {
	width: 100%;
	/* height: 100%; */
}

/* .self_image.active img.active {
	animation-name: rotate_repeatedly;
	animation-duration: 8s;
	animation-iteration-count: infinite;
} */

.self_image,
.self_image_small {
	width: 100%;
	overflow: hidden;
}

.self_image img,
.self_image_small img {
	height: 100%;
	width: 100%;
}

@keyframes rotate_repeatedly {
	0% {
		transform: rotateY(0deg);
	}

	25% {
		transform: rotateY(0deg);
	}

	50% {
		transform: rotateY(0deg);
	}

	100% {
		transform: rotateY(360deg);
	}
}

.navigation {
	padding: 0;
}

.navigation p {
	font: var(--navigation_element_font) !important;
	color: var(--navigation_element_color);
	margin: 0.25rem 0;
}

.nav_resun {
	font: var(--nav_resun_font);
	margin: 0.5rem auto 1.5rem auto;
}

/* .social_link:hover {
	color: var(--social_link_hover_color);
} */

.main_content {
	padding: 0 1rem;
	height: 0;
	width: -webkit-fill-available !important;
	overflow: hidden;
	transition: height 0.3s;
	transition-timing-function: ease-in-out;
}

.main_content.active {
	height: fit-content !important;
}

.main_content_section {
	margin-bottom: 4rem;
}

.main_content_section_heading {
	font: var(--main_content_section_heading_font);
}

.some_material {
	font: var(--some_material_font);
	margin-bottom: 4rem;
}

.heading_3 {
	color: var(--heading_text_color);
	font-size: 1.1rem;
	font-weight: var(--medium_font_weight);
	text-transform: uppercase;
}

.main_languages_desc_container {
	display: flex;
	flex-direction: column;
}

.main_languages_desc {
	width: 100%;
}

.main_languages_desc_container .language_list {
	width: 100%;
}

.language_list_language_container {
	margin: 1rem 0;
}

.language_list_language {
	margin: 0.5rem 0;
	color: var(--language_list_language_color);
}

.other_languages_container {
	display: flex;
	flex-direction: row !important;
	flex-wrap: wrap;
}

.other_languages_container .small_card {
	width: fit-content !important;
}

.project_list,
.other_thing_list {
	display: flex;
	flex-direction: column;
}

.social_link {
	padding: 0.3rem;
	margin: 0 0.3rem;
	color: var(--social_link_color);
	fill: var(--social_link_color);
}

.social_link img {
	height: var(--social_link_height);
	width: var(--social_link_width);
}

.social_link i,
.social_link svg {
	height: var(--social_link_height);
	width: var(--social_link_width);
	font-size: 1.5rem;
}

.social_link:hover {
	color: var(--social_link_hover_color);
	fill: var(--social_link_hover_color);
}

.social_links {
	margin-bottom: 3rem;
}

.social_links_small {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.social_links * {
	opacity: 0;
	transition: opacity 0.6s;
	transition-timing-function: ease-in-out;
}

.social_links.active * {
	opacity: 1;
}

.social_link * {
	color: inherit;
	fill: inherit;
}


footer {
	/* height: 5rem; */
}