/* Place your CSS styles in this file */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@import "resources/css/index.css";

:root {
	font-size: 14px;
	font-family: 'Space Grotesk', sans-serif;
	--font_0: 'Space Grotesk', sans-serif;
	--font_1: Courier;
	--body_bg_color: #0e0e0e;
	--inverted_body_bg_color: #fefefe;
	--text_color: var(--sc_gray);
	--inverted_text_color: #1f1f1f;

	--sc_white: #ffffff;
	--sc_gray: #b7b7b7;
	--sc_dark_blue: #202124;

	/* NAV */
	--nav_bg_color: var(--sc_dark_blue);
	/*#1f1f1f;*/
	--nav_height: fit-content;
	--nav_width: 100%;

	--nav_resun_font: 600 1.5rem var(--font_1);


	/* heading */
	--heading_font_family: var(--font_1);
	--heading_text_color: var(--sc_white);

	/* some_material */
	--some_material_font: 500 3rem var(--font_0);


	/* main_content */
	--main_content_section_heading_font: 400 1.3rem var(--font_0);

	--input_font: var(--font_0);
	--input_text_color: #fff;
	--input_border_color: #ccc;
	--button_bg_color: transparent;
	--button_text_color: var(--text_color);
	--button_hover_bg_color: #fff;
	--button_hover_text_color: var(--inverted_text_color);
	--note_background_color: #e1e1e1;
	--note_border_left: 0.2rem solid #fc4445;
	--button_font: 1rem var(--font_0);
	--button_padding: 0.25rem 0.5rem;
	--note_font: 1rem var(--font_0);
	--note_color: #000000;



	--thin_font_weight: 100;
	--extralight_font_weight: 200;
	--light_font_weight: 300;
	--regular_font_weight: 400;
	--medium_font_weight: 500;
	--semibold_font_weight: 600;
	--bold_font_weight: 700;
	--extrabold_font_weight: 800;
	--text_font_size: 1.2rem;
	--text_font: var(--regular_font_weight) var(--text_font_size) var(--font_0);
	--about_me_font: 100 1.4rem var(--content_font_family);
	--link_font: var(--regular_font_weight) var(--text_font_size) var(--font_0);
	--link_color: #80bfff;
	--link_hover_color: #fd8181;
	--selected_text_bg_color: var(--sc_white);
	--selected_text_color: var(--sc_dark_blue);
	--main_width: 100%;
	--title_font: var(--medium_font_weight) 4rem var(--font_0);
	--title1_font: 400 2rem var(--font_0);
	--greeting_text_font: 600 2.5rem var(--font_1);

	--navigation_element_font: 500 1rem var(--font_0);
	--navigation_element_color: var(--sc_gray);
	--content_font_family: var(--font_0);


	/* _expandable_container */

	--expandable_container_bg_color: var(--sc_dark_blue);
	--expandable_container_padding: 1rem;
	--expandable_container_margin: 1rem auto 1rem auto;
	--expandable_container_border_radius: 4px;

	--expander_font: 600 1.2rem var(--font_0);

	/* small_card */
	--small_card_bg_color: transparent;
	--small_card_color: var(--text_color);
	--small_card_padding: var(--button_padding);
	--small_card_margin: 0.2rem;
	--small_card_border: 1px solid var(--sc_gray);
	--small_card_border_radius: 4px;
	--small_card_box_shadow: none;
	/*0px 0px 3px 0px #ffffff7f;*/
}

/* @media (prefers-color-scheme: dark) {
	:root {
	    --body_bg_color: #000000;
	    --text_color: #fff;
	    --nav_bg_color: #2a2a2a;
	    --button_bg_color: #2a2a2a;
	    --button_text_color: #ffffff;
	    --button_hover_bg_color: #fff;
	    --button_hover_text_color: #2a2a2a;
	    --note_background_color: #f6f884;
	    --note_background_color: #e1e1e1;
	}
}
 @media (prefers-color-scheme: light) {
	:root {
	    --body_bg_color: #ffffff85;
	    --text_color: #000000;
	    --nav_bg_color: #000000;
	    --button_bg_color: var(--nav_bg_color);
	    --button_text_color: #fff;
	    --button_hover_bg_color: #fff;
	    --button_hover_text_color: #000;
	    --note_background_color: #e1e1e1;
	}
} */
@media only screen and (min-width: 900px) {
	:root {
		--nav_height: 100%;
		--nav_width: 25%;
		--main_width: 75%;
		--button_padding: 0.6rem 1rem;
		--button_font: 1.2rem var(--font_0);
		--navigation_element_font: 500 1.1rem var(--font_0);
		--title_font: var(--medium_font_weight) 5rem var(--font_0);
		--greeting_text_font: 600 4rem var(--font_1);
	}

	._sub {
		margin-left: 2rem !important;
	}
}

::-webkit-scrollbar {
	display: none;
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--sc_gray);
	/* border: 0.15rem solid var(--selected_text_color); */
	transition: height 0.3s;
	transition-timing-function: ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--sc_white);
}

::-webkit-scrollbar-thumb:active {
	background-color: var(--sc_white);
}

::-webkit-scrollbar-button {
	display: none;
}

::-moz-selection {
	background-color: var(--selected_text_bg_color);
	color: var(--selected_text_color);
}

::selection {
	background-color: var(--selected_text_bg_color);
	color: var(--selected_text_color);
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--body_bg_color);
	margin: 0;
}

body * {
	color: var(--text_color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	width: fit-content;
	width: -moz-fit-content;
}

ul li {
	margin: 1rem 0;
	width: fit-content;
	width: -moz-fit-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading_font_family);
}

._heading {
	font-family: var(--heading_font_family);
	color: var(--heading_text_color);
}

p {
	font: var(--text_font);
	line-height: 1.5rem;
	color: var(--text_color);
}

._expandable_container {
	background-color: var(--expandable_container_bg_color);
	padding: var(--expandable_container_padding);
	margin: var(--expandable_container_margin);
	border-radius: var(--expandable_container_border_radius);
}

._expandable {
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

._expander {
	font: var(--expander_font);
}

._sub {
	margin-left: 0rem;
}

._input {
	background-color: transparent;
	width: 10rem;
	height: 2rem;
	border: 0;
	outline: 0;
	font: var(--input_font);
	font-size: 1rem;
	font-weight: 400 !important;
	color: var(--input_text_color);
	outline: none;
	border: 0.1rem solid var(--input_border_color);
	border-radius: 0.2rem;
}

._date_input::-webkit-calendar-picker-indicator {
	background-color: var(--text_color);
	color: var(--text_color);
}

._button {
	font: var(--button_font) !important;
	cursor: pointer;
}

._button,
._button i {
	background-color: var(--button_bg_color);
	padding: var(--button_padding);
	color: var(--button_text_color);
	transition: all 0.3s;
}

._button:hover,
._button:hover i {
	background-color: var(--button_hover_bg_color);
	color: var(--button_hover_text_color);
}

._cursor_pointer {
	cursor: pointer;
}

._note {
	background-color: var(--note_background_color);
	font: var(--note_font);
	padding: 0.5rem;
	color: var(--note_color);
	border: 0;
	border-left: var(--note_border_left);
}

._note p {
	color: var(--note_color);
}

._link {
	font: var(--link_font);
	color: var(--link_color);
}

._link:hover {
	color: var(--link_hover_color);
}

._not_link {
	color: inherit;
	text-decoration: none;
}

._not_link:hover {
	color: inherit;
}

._not_link:active {
	color: inherit;
}

._rotatable {
	transform: rotate(0deg);
	transition: all 0.3s;
}

._rotation_active {
	transform: rotate(180deg);
}

i.fa {
	font-size: 1rem;
}

._white_text {
	color: #ffffff;
}

.underline_animator {
	background-color: var(--text_color);
	width: 0;
	height: 0.01rem;
	transition: width 0.6s;
	transition-delay: 0.6s;
	transition-timing-function: ease-in-out;
}

.underline_animator.active {
	width: 100%;
}

.small_card {
	background-color: var(--small_card_bg_color);
	padding: var(--small_card_padding);
	color: var(--small_card_color);
	margin: var(--small_card_margin);
	border: var(--small_card_border);
	border-radius: var(--small_card_border_radius);
	line-height: 1.6rem;
	box-shadow: var(--small_card_box_shadow);
}

.animated_small_card .small_card {
	opacity: 0;
	transition: opacity 0.3s;
	transition-delay: 0.6s;
	transition-timing-function: ease-in-out;
}

.animated_small_card .small_card.active {
	opacity: 1;
}

@media only screen and (max-width: 900px) {
	.navigation p {
		padding-left: 0;
	}
}

@media only screen and (min-width: 900px) {
	._input {
		width: 25rem;
	}

	.main {
		width: var(--main_width);
		padding: 0 2rem;
		margin-left: auto;
		margin-right: 0;
		transition: width 0.3s;
	}

	.main.wide {
		width: 100% !important;
	}

	nav {
		overflow: hidden;
		position: fixed !important;
		top: 0;
	}

	.nav_large {
		display: flex !important;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.6s;
		transition-timing-function: ease-in-out;
	}

	.nav_large.active {
		transform: scaleX(1);
		transform-origin: left;
		transition: transform 0.6s;
		transition-timing-function: ease-in-out;
	}

	.nav_small,
	.nav_small.active {
		display: none !important;
	}

	.self_image_small {
		display: none;
	}

	.self_image {
		overflow: hidden;
	}

	.account_links._small {
		display: none !important;
	}

	.navigation {
		display: block !important;
		padding: 0.1rem 0rem !important;
	}

	.navigation p {
		width: -webkit-fill-available !important;
		margin: 0.5rem 1rem;
	}

	.account_links p {
		padding: 0.5rem !important;
		margin: 0 0.5rem !important;
	}

	.main_content {}

	.main_languages_desc_container {
		display: flex;
		flex-direction: row !important;
	}

	.main_languages_desc {
		width: 40% !important;
	}

	.main_languages_desc_container .language_list {
		width: 40% !important;
	}

	.other_languages_container {
		flex-direction: row !important;
		flex-wrap: wrap;
	}

	.other_languages_container .small_card {
		width: fit-content !important;
	}

	._expandable {
		margin-left: 2rem;
		margin-right: 2rem;
	}
}

@media only screen and (max-width: 900px) {
	.nav_large {
		display: none !important;
	}
}

.typed-cursor {
	opacity: 1;
}

.typed-cursor.typed-cursor--blink {
	animation: typedjsBlink 0.7s infinite;
	-webkit-animation: typedjsBlink 0.7s infinite;
	animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
	50% {
		opacity: 0.0;
	}
}

@-webkit-keyframes typedjsBlink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.0;
	}

	100% {
		opacity: 1;
	}
}

header {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0 1rem;
}

.title_container {
	min-height: 25%;
}

.title,
.title * {
	font: var(--title_font);
	color: #e8e8e8 !important;
	width: fit-content;
	height: fit-content;
}

.title1 {
	font: var(--title1_font);
}

.greeting_text {
	font: var(--greeting_text_font);
	color: var(--heading_text_color);
	line-height: 1;
}

.greeting_text * {
	font: var(--greeting_text_font);
	color: var(--heading_text_color);
}

.about_me {
	font: var(--about_me_font);
	text-align: center;
	opacity: 0;
	transition: opacity 0.3s;
}

.point_down_anim_container {
	height: 0 !important;
	overflow: visible;
}

.point_down {
	position: relative;
	opacity: 0;
	transition: margin 1s, opacity 0.2s;
}

.point_down.active {
	opacity: 1;
}


.point_down._bar_arrow {
	margin-top: 0;
}

.point_down._bar_arrow.active {
	margin-top: 2rem;
}

.point_down._arrow_1 {
	margin-top: 0;
}

.point_down._arrow_1.active {
	margin-top: 8rem;
}

.point_down._arrow_2 {
	margin-top: -6rem;
}

.point_down._arrow_2.active {
	margin-top: -3rem;
}

.point_down svg {
	fill: var(--sc_gray);
}

.about_me.active {
	opacity: 1;
}

nav {
	background-color: var(--nav_bg_color);
	height: var(--nav_height);
	width: var(--nav_width);
}


.nav_small {
	display: none;
	position: sticky;
	top: 0;
	padding: 0 1rem;
	overflow: hidden;
	z-index: 6;
}

.nav_small.active {
	display: block;
}

.nav_small .navigation {
	height: 0;
	transition: all 0.3s;
}

.self_image img {
	width: 0;
	heigh: 0;
	transition: all 0.3s;
}

.self_image.active img {
	width: 100%;
	heigh: 100%;
}

.self_image.active img.active {
	animation-name: rotate_repeatedly;
	animation-duration: 8s;
	animation-iteration-count: infinite;
}

.self_image,
.self_image_small {
	width: 100%;
	overflow: hidden;
}

.self_image img,
.self_image_small img {
	height: 100%;
	width: 100%;
}

@keyframes rotate_repeatedly {
	0% {
		transform: rotateY(0deg);
	}

	25% {
		transform: rotateY(0deg);
	}

	50% {
		transform: rotateY(0deg);
	}

	100% {
		transform: rotateY(360deg);
	}
}

.navigation {
	padding: 0;
}

.navigation p {
	font: var(--navigation_element_font) !important;
	color: var(--navigation_element_color);
	margin: 0.25rem 0;
}

.nav_resun {
	font: var(--nav_resun_font);
	margin: 0.5rem auto 1.5rem auto;
}

.account_links {
	margin-bottom: 3rem;
}

.account_links._small {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.account_links * {
	opacity: 0;
	transition: opacity 0.6s;
	transition-timing-function: ease-in-out;
}

.account_links.active * {
	opacity: 1;
}

.main_content {
	padding: 0 1rem;
	height: 0;
	width: -webkit-fill-available !important;
	overflow: hidden;
	transition: height 0.3s;
	transition-timing-function: ease-in-out;
}

.main_content.active {
	height: fit-content !important;
}

.main_content_section {
	margin-bottom: 4rem;
}

.main_content_section_heading {
	font: var(--main_content_section_heading_font);
}

.some_material {
	font: var(--some_material_font);
	margin-bottom: 4rem;
}

.heading_3 {
	color: var(--heading_text_color);
	font-size: 1.1rem;
	font-weight: var(--medium_font_weight);
	text-transform: uppercase;
}

.main_languages_desc_container {
	display: flex;
	flex-direction: column;
}

.main_languages_desc {
	width: 100%;
}

.main_languages_desc_container .language_list {
	width: 100%;
}

.language_list_language_container {
	margin: 1rem 0;
}

.language_list_language {
	margin: 0.5rem 0;
}

.other_languages_container {
	display: flex;
	flex-direction: column;
}

.other_languages_container .small_card {
	width: -webkit-fill-available;
}

.account_links p {
	padding: 0.3rem;
	margin: 0 0.3rem;
}

.account_links p img {
	height: 1.5rem;
	width: 1.5rem;
}

.account_links p i {
	height: fit-content;
	width: fit-content;
	font-size: 1.5rem;
}

.account_links p svg {
	height: 100%;
	width: 100%;
}

footer {
	/* height: 5rem; */
}