/* some css that can be used to design pages more easilly */
:root {
	font-size: 14px;

	/* TEXT */
	--heading_font_family: var(--font_0);
	--heading_text_color: ;
	--text_font: 200 1rem var(--font_0);

	/* BUTTON */
	--button_padding: 0.2rem;
	--button_border: none;
	--icon_button_padding: 0rem 1rem;

	/* INPUT */
	--input_font: 1rem var(--font_0);
	--input_padding: 0.5rem 1rem;

	/* LINK */
	--link_font: var(--font_0);
	--link_color: #1e90ff;
	--link_hover_color: #ffffff;
	--link_active_color: #cd2027;
}

@media only screen and (min-width: 768px) {
	:root {
		--button_padding: 0.5rem 1rem;
		--icon_button_padding: 0rem 1rem;
	}

	._large_screen {
		display: block;
	}

	._small_screen {
		display: none !important;
		overflow: hidden !important;
	}

	._container_in {
		padding: 1rem !important;
	}
}

._large_screen {
	display: none;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	width: fit-content;
	width: -moz-fit-content;
}

ul li {
	width: fit-content;
	width: -moz-fit-content;
}

/*
 								TEXT

*/


._label {
	background-color: var(--label_bg_color);
	color: var(--label_color);
	font: var(--label_font);
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
					supported by Chrome and Opera */
	text-transform: uppercase;
}

._label._large {
	font: var(--large_label_font);
}

._label._small {
	font: var(--small_label_font);
}


._expandable {
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

._sub {
	/* design an element as a sub element of it's parent */
	margin-left: var(--sub_margin);
}

/* BUTTONS */

._button {
	background-color: var(--button_bg_color);
	padding: var(--button_padding);
	margin: var(--button_margin);
	color: var(--button_color);
	fill: var(--button_fill);
	cursor: var(--button_cursor);
	font: var(--button_font);
	width: var(--button_width);
	height: var(--button_height);
	text-align: var(--button_text_align);
	border: var(--button_border);
	border-radius: var(--button_border_radius);
	outline: var(--button_outline);
	transition: var(--button_transition);
	-webkit-touch-callout: var(--button_select);
	-webkit-user-select: var(--button_select);
	-khtml-user-select: var(--button_select);
	-moz-user-select: var(--button_select);
	-ms-user-select: var(--button_select);
	user-select: var(--button_select);
}

._plain_button {
	background-color: var(--plain_button_bg_color);
	padding: var(--plain_button_padding);
	margin: var(--plain_button_margin);
	cursor: var(--plain_button_cursor);
	border: var(--plain_button_border);
	border-radius: var(--plain_button_border_radius);
	outline: var(--plain_button_outline);
	transition: var(--plain_button_transition);
	-webkit-touch-callout: var(--plain_button_select);
	-webkit-user-select: var(--plain_button_select);
	-khtml-user-select: var(--plain_button_select);
	-moz-user-select: var(--plain_button_select);
	-ms-user-select: var(--plain_button_select);
	user-select: var(--plain_button_select);
}

._colourful_button {
	background-color: var(--colourful_button_bg_color);
	padding: var(--colourful_button_padding);
	margin: var(--colourful_button_margin);
	color: var(--colourful_button_color);
	fill: var(--colourful_button_fill);
	cursor: var(--colourful_button_cursor);
	font: var(--colourful_button_font);
	border: var(--colourful_button_border);
	border-radius: var(--colourful_button_border_radius);
	outline: var(--colourful_button_outline);
	transition: var(--colourful_button_transition);
	-webkit-touch-callout: var(--colourful_button_select);
	-webkit-user-select: var(--colourful_button_select);
	-khtml-user-select: var(--colourful_button_select);
	-moz-user-select: var(--colourful_button_select);
	-ms-user-select: var(--colourful_button_select);
	user-select: var(--colourful_button_select);
}

._colourful_button._not_link {
	color: var(--colourful_button_color);
	fill: var(--colourful_button_fill);
}

._colourful_button._2x {
	padding: var(--colourful_button_2x_padding);
	font: var(--colourful_button_2x_font);
}

._colourful_button:hover {
	background-color: var(--colourful_button_hover_bg_color);
	color: var(--colourful_button_hover_color);
	fill: var(--colourful_button_hover_fill);
	cursor: var(--colourful_button_hover_cursor);
	font: var(--colourful_button_hover_font);
	border: var(--colourful_button_hover_border);
	outline: var(--colourful_button_hover_outline);
	transition: var(--colourful_button_hover_transition);
}

._colourful_button._2x:hover {
	padding: var(--colourful_button_2x_hover_padding);
	font: var(--colourful_button_2x_hover_font);
}

._button ._icon {
	color: var(--button_color);
	width: var(--button_icon_width);
	height: var(--button_icon_height);
	fill: var(--button_fill);
	margin: var(--button_icon_margin);
}

/* ._button ._icon, ._button svg {
	color: var(--button_color);
	width: var(--button_icon_width);
	height: var(--button_icon_height);
	fill: var(--button_fill);
} */

/* 

._button * {
	color: var(--button_color);
	fill: var(--button_fill);
	transition: var(--button_transition);
} */

._button:hover {
	background-color: var(--button_hover_bg_color);
	color: var(--button_hover_color);
	fill: var(--button_hover_fill);
	cursor: var(--button_hover_cursor);
	font: var(--button_hover_font);
	border: var(--button_hover_border);
	outline: var(--button_hover_outline);
	transition: var(--button_hover_transition);
}

/* ._button:hover * {
	color: var(--button_hover_color);
	fill: var(--button_hover_fill);
} */

._button:active {
	background-color: var(--button_active_bg_color);
	color: var(--button_active_color);
	fill: var(--button_active_fill);
	cursor: var(--button_active_cursor);
	font: var(--button_active_font);
	border: var(--button_active_border);
	outline: var(--button_active_outline);
	transition: var(--button_active_transition);
}

._button:focus {
	background-color: var(--button_focus_bg_color);
	color: var(--button_focus_color);
	fill: var(--button_focus_fill);
	cursor: var(--button_focus_cursor);
	font: var(--button_focus_font);
	border: var(--button_focus_border);
	outline: var(--button_focus_outline);
	transition: var(--button_focus_transition);
}

._button._inactive,
._button:disabled {
	background-color: var(--inactive_button_bg_color);
	color: var(--inactive_button_color);
	fill: var(--inactive_button_fill);
	cursor: var(--inactive_button_cursor);
	font: var(--inactive_button_font);
	border: var(--inactive_button_border);
	outline: var(--inactive_button_outline);
	transition: var(--inactive_button_transition);
}


._button._inactive:hover,
._button:disabled:hover {
	background-color: var(--inactive_button_hover_bg_color);
	color: var(--inactive_button_hover_color);
	fill: var(--inactive_button_hover_fill);
	cursor: var(--inactive_button_hover_cursor);
	font: var(--inactive_button_hover_font);
	border: var(--inactive_button_hover_border);
	outline: var(--inactive_button_hover_outline);
	transition: var(--inactive_button_hover_transition);
}

._icon_button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--icon_button_bg_color);
	padding: var(--icon_button_padding);
	margin: var(--icon_button_margin);
	color: var(--icon_button_color);
	fill: var(--icon_button_fill);
	cursor: var(--icon_button_cursor);
	width: var(--icon_button_width);
	height: var(--icon_button_height);
	text-align: var(--icon_button_text_align);
	border: var(--icon_button_border);
	border-radius: var(--icon_button_border_radius);
	outline: var(--icon_button_outline);
	transition: var(--icon_button_transition);
	-webkit-touch-callout: var(--icon_button_select);
	-webkit-user-select: var(--icon_button_select);
	-khtml-user-select: var(--icon_button_select);
	-moz-user-select: var(--icon_button_select);
	-ms-user-select: var(--icon_button_select);
	user-select: var(--icon_button_select);
}

._icon_button svg {
	fill: inherit;
	width: var(--icon_button_icon_width);
	height: var(--icon_button_icon_height);
}

._icon_button:hover {
	background-color: var(--icon_button_hover_bg_color);
	color: var(--icon_button_hover_color);
	fill: var(--icon_button_hover_fill);
	cursor: var(--icon_button_hover_cursor);
	border: var(--icon_button_hover_border);
	outline: var(--icon_button_hover_outline);
	transition: var(--icon_button_hover_transition);
}

._icon_button:hover+svg {
	fill: var(--icon_button_hover_fill);
}

._icon_button:active {
	background-color: var(--icon_button_active_bg_color);
	color: var(--icon_button_active_color);
	fill: var(--icon_button_active_fill);
	cursor: var(--icon_button_active_cursor);
	border: var(--icon_button_active_border);
	outline: var(--icon_button_active_outline);
	transition: var(--icon_button_active_transition);
}

._icon_button:focus {
	background-color: var(--icon_button_focus_bg_color);
	color: var(--icon_button_focus_color);
	fill: var(--icon_button_focus_fill);
	cursor: var(--icon_button_focus_cursor);
	border: var(--icon_button_focus_border);
	outline: var(--icon_button_focus_outline);
	transition: var(--icon_button_focus_transition);
}

._icon_button._inactive,
._icon_button:disabled {
	background-color: var(--inactive_icon_button_bg_color);
	color: var(--inactive_icon_button_color);
	fill: var(--inactive_icon_button_fill);
	cursor: var(--inactive_icon_button_cursor);
	border: var(--inactive_icon_button_border);
	outline: var(--inactive_icon_button_outline);
	transition: var(--inactive_icon_button_transition);
}

._icon_button:hover svg {
	fill: var(--icon_button_hover_fill);
}


._button._fill_w {
	width: -webkit-fill-available;
}

._button._no_color {
	background-color: initial;
}

._button._no_color:hover {
	background-color: initial;
	color: initial;
	fill: initial;
}

._button._no_hover {
	background-color: initial;
	color: initial;
	fill: initial;
	border: initial;
}

._button._padded {
	padding: var(--button_padding_large);
}

._button._trans_border {
	border-color: transparent;
}

._button._trans_bg {
	background-color: transparent;
}

._force_no_border,
._force_no_border:hover,
._force_no_border:active,
._force_no_border:focus {
	border: none;
}

._b_transparent {
	background-color: transparent;
}

/* 
._button ._icon {
	color: var(--button_icon_color) !important;
	width: var(--button_icon_width) !important;
	height: var(--button_icon_height) !important;
	fill: var(--button_icon_color) !important;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

._button ._icon svg {
	color: var(--button_icon_color) !important;
	width: var(--button_icon_width) !important;
	height: var(--button_icon_height) !important;
	fill: var(--button_icon_color) !important;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

._button_color {
	background-color: var(--button_bg_color);
	padding: var(--button_padding);
	color: var(--button_color);
	cursor: pointer;
	width: fit-content;
	height: fit-content;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: none;
	outline: 0;
	transition: all 0.3s;
}

._button._full_w,
._plain_button._full_w {
	width: 100%;
}

._icon_button._bordered {
	border: var(--button_border);
	border-radius: var(--button_border_radius);
}


._button._no_font {
	font: unset;
	text-transform: unset;
	text-align: unset;
}



._button._transparent {
	background-color: transparent;
}

._button._no_border {
	border: none;
}

._button._no_border:hover {
	border: none;
}


._icon_button:hover {
	background-color: var(--icon_button_hover_bg_color);
	color: var(--icon_button_hover_color);
	fill: var(--icon_button_hover_color);
}


._icon_button._inactive {
	border: none;
	outline: 0;
	cursor: not-allowed;
}

._button._inactive {
	background-color: var(--inactive_button_bg_color);
	color: var(--inactive_button_color);
	fill: var(--inactive_button_color);
	border: var(--inactive_button_border);
	cursor: not-allowed;
}

._button._inactive:hover {
	background-color: var(--inactive_button_hover_bg_color);
	color: var(--inactive_button_hover_color);
	fill: var(--inactive_button_hover_color);
	border: var(--inactive_button_hover_border);
}


._icon_button._inactive {
	background-color: var(--inactive_icon_button_bg_color);
	color: var(--inactive_icon_button_color);
	fill: var(--inactive_icon_button_bg_color);
}

._icon_button._inactive svg {
	background-color: var(--inactive_icon_button_bg_color);
	color: var(--inactive_icon_button_color);
	fill: var(--inactive_icon_button_color);
}

._icon_button._inactive:hover {
	border: none;
	outline: 0;
	cursor: not-allowed;
}

._icon_button._inactive:hover {
	background-color: var(--inactive_icon_button_hover_bg_color);
	color: var(--inactive_icon_button_hover_color);
	fill: var(--inactive_icon_button_hover_color);
} */

/* INPUT */

._input,
._contenteditable {
	background-color: transparent;
	padding: var(--input_padding);
	font: var(--input_font);
	outline: none;
	border: var(--input_border);
	border-radius: var(--input_border_radius);
	margin: var(--input_margin);
	transition: all 0.3s;
}

._input {}

._contenteditable {
	border: var(--site_border_width) solid transparent;
}

._contenteditable._active {
	border: var(--input_border);
}

._input:focus,
._contenteditable._active:focus {
	border: var(--input_focus_border);
}

._input._border_bottom {
	border: none;
	border-bottom: var(--input_border);
}

._button._small_padding,
._input._small_padding {
	padding: var(--input_small_padding);
}

/* ICON */
._icon {
	color: var(--icon_color);
	width: var(--icon_width);
	height: var(--icon_height);
	fill: var(--icon_color);
}

._colored_icon {
	width: var(--icon_width);
	height: var(--icon_height);
}

._icon svg {
	width: var(--icon_width);
	height: var(--icon_height);
	fill: var(--icon_color);
}

/* LINKS */

._link {
	/* cool looking url */
	font: var(--link_font);
	color: var(--link_color);
	transition: all 0.3s;
	text-decoration: none;
}

._link:hover {
	color: var(--link_hover_color);
	text-decoration: underline;
}

._link:active {
	color: var(--link_active_color);
}

._not_link {
	/* remove all desing from a url */
	color: inherit;
	text-decoration: none;
}

._not_link._button:hover {
	color: var(--button_hover_color);
}

._not_link:active {
	color: inherit;
}



._typed_cursor {
	opacity: 1;
}

._typed_cursor._typed_cursor__blink {
	animation: typedjsBlink 0.7s infinite;
	-webkit-animation: typedjsBlink 0.7s infinite;
	animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
	50% {
		opacity: 0.0;
	}
}

@-webkit-keyframes typedjsBlink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.0;
	}

	100% {
		opacity: 1;
	}
}