@import url(/resource.css);
/* @import url('https://use.typekit.net/qcp4ojr.css'); */

@property --bg_0 {
    syntax: "<color>";
    initial-value: rgba(40, 176, 230, 0.25);
    inherits: false;
}

@property --bg_1 {
    syntax: "<color>";
    initial-value: rgba(250, 174, 242, 0.25);
    inherits: false;
}

@property --bg_2 {
    syntax: "<color>";
    initial-value: rgba(252, 68, 69, 0.25);
    inherits: false;
}
