@import url(/resource.css);
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://use.typekit.net/qcp4ojr.css');
:root {
	scroll-behavior: smooth;
	font-family: aileron, sans-serif;
	font-weight: 400;
	font-size: 14px;
	--sc_font_0: aileron, sans-serif;
	--sc_font_1: 'Roboto', sans-serif;
	--sc_black: #0e0e0e;
	--sc_white: #ffffff;
	/* --sc_white_1: #f6f7f9; */
	--sc_white_1: #e8e8e8;
	--sc_dark_blue: #202124;

	--sc_red: #fc4445;
	--sc_azure: #d7f4f3;

	--sc_gray: #b7b7b7;
	/* aery */

	--sc_blue: #26AFE6;
	--sc_pink: #ff00fb;
	--sc_green: #53fc18;
	/* --sc_faded_black: #0e0e0e73; */
	--sc_faded_black: #20212420;
	--sc_faded_dark: #0e0e0e73;
	--sc_faded_white: #ffffff0f;
	--sc_faded_bg_color: var(--sc_faded_black);


	--s_border_width: 0.01rem;
	--s_border_radius: 8px;
	--s_faded_border_color: var(--sc_faded_black);

	--s_box_shadow_h_offset: 0px;
	--s_box_shadow_v_offset: 0px;
	--s_box_shadow_blur: 48px;
	--s_box_shadow_spread: 1px;
	--s_box_shadow_color: #00000040;
	--s_box_shadow: var(--s_box_shadow_h_offset) var(--s_box_shadow_v_offset) var(--s_box_shadow_blur) var(--s_box_shadow_spread) var(--s_box_shadow_color);

	--selected_text_color: var(--sc_white);
	--selected_text_bg_color: var(--sc_red);

	--site_scrollbar_width: 0.3rem;
	--site_scrollbar_track_color: #ffffff73;
	--site_scrollbar_thumb_color: #00000073;
	--site_scrollbar_thumb_hover_color: var(--sc_red);

	--loading_animation_circle_border: 0.2em solid transparent;
	--loading_animation_circle_border_top: 0.2em solid var(--sc_red);
	--loading_animation_circle_timespan: 0.6s;
	--loading_animation_bar_timespan: 1.2s;
	--loading_animation_bar_bg_size: 10rem;


	--header_height: 4rem;
	--header_border_bottom: 1px solid var(--sc_red);
	--header_shadow: var(--s_box_shadow_h_offset) var(--s_box_shadow_v_offset) 2px var(--s_box_shadow_spread) var(--sc_red);
	--header_less_vh: calc(100vh - var(--header_height));
	--header_less_full_h: calc(100% - var(--header_height));


	--user_name_font: 300 1.5rem var(--sc_font_0);
	--user_plan_font: 100 1rem var(--sc_font_0);
	--user_profile_options_width: 170%;
	--user_profile_options_left: -70%;
	--user_profile_options_border_radius: var(--s_border_radius);

	--s_faded_border: var(--s_border_width) solid var(--s_faded_border_color);

	--blured_bg_color: var(--sc_faded_black);

	--notification_bg_color: var(--sc_gray);
	--notification_box_shadow: 0px 0px 10px 0px #0000007f;
	--notification_color: var(--text_color);
	--notification_font: 1.2rem var(--sc_font_0);

	/* DEFAULTs */
	--sub_margin: 1rem;
	--heading_font_family: var(--sc_font_1);
	--highlighted_text_color: var(--sc_red);
	--text_font: 200 1rem var(--sc_font_0);
	--styled_sign_color: var(--sc_red);
	--header_padding: 0 0.5rem;

	/* MARGIN & PADDING */
	--preffered_padding: 1rem;
	--preffered_margin: 1rem;


	/* BUTTON */

	/* initial */
	/* normal */

	/* INPUT */
	--input_font: 1rem var(--sc_font_0);
	--input_padding: 0.5rem 1rem;
	--input_small_padding: 0.25rem 0.5rem;
	--input_border: var(--s_border_width) solid var(--sc_gray);
	--input_border_radius: 6px;
	--input_margin: 0.5rem 0;

	--input_focus_border: var(--s_border_width) solid var(--sc_red);

	/* LINK */
	--link_font: var(--sc_font_0);
	--link_color: var(--sc_blue);
	--link_hover_color: var(--sc_red);
	--link_active_color: #cd2027;

	/* ICON */
	--icon_color: var(--text_color);
	--icon_width: 1.8rem;
	--icon_height: 1.8rem;
	--active_icon_color: var(--sc_red);
	--inactive_icon_color: var(--sc_faded_white);

	/* LABEL */
	--label_bg_color: transparent;
	--label_color: var(--faded_text_color);
	--large_label_font: 500 1.2rem var(--sc_font_0);
	--normal_label_font: 500 1rem var(--sc_font_0);
	--small_label_font: 300 0.8rem var(--sc_font_0);
	--tiny_label_font: 300 0.6rem var(--sc_font_0);

	--label_font: var(--small_label_font);

	--title_font: 300 1.5rem var(--sc_font_0);


	--card_bg_color: var(--sc_white);
	--card_padding: 2rem;
	--card_mobile_padding: 1rem;
	--card_box_shadow: var(--s_box_shadow);
	--card_border_radius: 8px;
	--card_border_color: var(--sc_gray);
	--card_border: var(--s_border_width) solid var(--card_border_color);


	--pop_up_bg: var(--main_background);
	--pop_up_border_radius: var(--s_border_radius);
}

:root {
	/* NORMAL BUTTON */
	--button_bg_color: #00000010;
	--button_padding: 0.25rem 0.5rem;
	--button_padding_large: 0.5rem 1rem;
	--button_margin: 0;
	--button_color: var(--text_color);
	--button_fill: var(--text_color);
	--button_cursor: pointer;
	--button_font: 300 1rem var(--sc_font_0);
	--button_width: fit-content;
	--button_height: fit-content;
	--button_text_align: center;
	--button_border: var(--s_border_width) solid var(--sc_gray);
	--button_border_radius: 6px;
	--button_outline: 0;
	--button_transition: all 0.3s;
	--button_select: none;

	/* ICONS INSIDE BUTTON */
	--button_icon_width: 1.21rem;
	--button_icon_height: 1.21rem;
	--button_icon_margin: 0 0.5rem 0 0.5rem;

	/* PLAIN BUTTON */
	--plain_button_bg_color: transparent;
	--plain_button_padding: var(--button_padding);
	--plain_button_margin: var(--button_margin);
	--plain_button_cursor: default;
	--plain_button_border: var(--button_border);
	--plain_button_border_radius: var(--button_border_radius);
	--plain_button_outline: var(--button_outline);
	--plain_button_transition: var(--button_transition);
	--plain_button_select: text;

	/* COLOURFUL BUTTON */
	--colourful_button_bg_color: var(--sc_red);
	--colourful_button_padding: var(--button_padding);
	--colourful_button_margin: var(--button_margin);
	--colourful_button_color: var(--sc_white);
	--colourful_button_fill: var(--sc_white);
	--colourful_button_cursor: var(--button_cursor);
	--colourful_button_font: var(--button_font);
	--colourful_button_border: var(--s_border_width) solid var(--colourful_button_bg_color);
	;
	--colourful_button_border_radius: var(--button_border_radius);
	--colourful_button_outline: var(--button_outline);
	--colourful_button_transition: var(--button_transition);
	--colourful_button_select: var(--button_select);
	--colourful_button_2x_padding: var(--button_padding_large);
	--colourful_button_2x_font: 400 1.5em var(--sc_font_0);

	/* HOVERED COLOURFUL BUTTON */
	--colourful_button_hover_bg_color: var(--colourful_button_bg_color);
	--colourful_button_hover_color: var(--colourful_button_color);
	--colourful_button_hover_fill: var(--colourful_button_fill);
	--colourful_button_hover_cursor: var(--colourful_button_cursor);
	--colourful_button_hover_font: var(--colourful_button_font);
	--colourful_button_hover_border: var(--s_border_width) solid var(--sc_white);
	--colourful_button_hover_outline: var(--colourful_button_outline);
	--colourful_button_hover_transition: var(--colourful_button_transition);
	--colourful_button_2x_hover_padding: var(--colourful_button_2x_padding);
	--colourful_button_2x_hover_font: var(--colourful_button_2x_font);


	/* HOVERED BUTTON */
	--button_hover_bg_color: var(--sc_red);
	--button_hover_color: var(--sc_white);
	--button_hover_fill: var(--sc_white);
	--button_hover_cursor: var(--button_cursor);
	--button_hover_font: var(--button_font);
	--button_hover_border: var(--s_border_width) solid var(--sc_red);
	--button_hover_outline: var(--button_outline);
	--button_hover_transition: var(--button_transition);

	/* ACTIVE/CLICKED BUTTON */
	--button_active_bg_color: var(--button_hover_bg_color);
	--button_active_color: var(--text_color);
	--button_active_fill: var(--text_color);
	--button_active_cursor: var(--button_cursor);
	--button_active_font: var(--button_font);
	--button_active_border: var(--button_hover_border);
	--button_active_outline: var(--button_outline);
	--button_active_transition: var(--button_transition);

	/* FOCUSED BUTTON */
	--button_focus_bg_color: var(--button_hover_bg_color);
	--button_focus_color: var(--text_color);
	--button_focus_fill: var(--text_color);
	--button_focus_cursor: var(--button_cursor);
	--button_focus_font: var(--button_font);
	--button_focus_border: var(--button_hover_border);
	--button_focus_outline: var(--button_outline);
	--button_focus_transition: var(--button_transition);

	/* INACTIVE/DISABLED BUTTON */
	--inactive_button_bg_color: #ffffff2a;
	--inactive_button_color: var(--faded_text_color);
	--inactive_button_fill: var(--faded_text_color);
	--inactive_button_cursor: not-allowed;
	--inactive_button_font: var(--button_font);
	--inactive_button_border: var(--s_border_width) solid var(--inactive_button_bg_color);
	--inactive_button_outline: var(--button_outline);
	--inactive_button_transition: var(--button_transition);

	/* INACTIVE?DISABLED HOVERED BUTTON */

	--inactive_button_hover_bg_color: var(--inactive_button_bg_color);
	--inactive_button_hover_color: var(--inactive_button_color);
	--inactive_button_hover_fill: var(--inactive_button_fill);
	--inactive_button_hover_cursor: var(--inactive_button_cursor);
	--inactive_button_hover_font: var(--inactive_button_font);
	--inactive_button_hover_border: var(--s_border_width) solid var(--inactive_button_bg_color);
	--inactive_button_hover_outline: var(--button_outline);
	--inactive_button_hover_transition: var(--button_transition);


	/* ICON BUTTON */
	--icon_button_bg_color: transparent;
	--icon_button_padding: 0.25rem;
	--icon_button_margin: 0;
	--icon_button_color: var(--text_color);
	--icon_button_fill: var(--text_color);
	--icon_button_cursor: var(--button_cursor);
	--icon_button_width: 3rem;
	--icon_button_height: 3rem;
	--icon_button_text_align: center;
	--icon_button_border: none;
	--icon_button_border_radius: 100%;
	--icon_button_outline: var(--button_outline);
	--icon_button_transition: var(--button_transition);
	--icon_button_select: none;

	/* ICON BUTTON's ICON */


	--icon_button_icon_width: 2rem;
	--icon_button_icon_height: 2rem;

	/* HOVERED ICON BUTTON */
	--icon_button_hover_bg_color: var(--sc_faded_white);
	--icon_button_hover_color: var(--button_hover_bg_color);
	--icon_button_hover_fill: var(--button_hover_bg_color);
	--icon_button_hover_cursor: var(--button_cursor);
	--icon_button_hover_border: var(--icon_button_border);
	--icon_button_hover_outline: var(--button_outline);
	--icon_button_hover_transition: var(--button_transition);

	/* ACTIVE/CLICKED ICON BUTTON */
	--icon_button_active_bg_color: var(--icon_button_hover_bg_color);
	--icon_button_active_color: var(--icon_button_hover_color);
	--icon_button_active_fill: var(--icon_button_hover_fill);
	--icon_button_active_cursor: var(--button_cursor);
	--icon_button_active_border: var(--icon_button_hover_border);
	--icon_button_active_outline: var(--button_outline);
	--icon_button_active_transition: var(--button_transition);

	/* FOCUSED ICON BUTTON */
	--icon_button_focus_bg_color: var(--icon_button_hover_bg_color);
	--icon_button_focus_color: var(--icon_button_hover_color);
	--icon_button_focus_fill: var(--icon_button_hover_fill);
	--icon_button_focus_cursor: var(--button_cursor);
	--icon_button_focus_border: var(--icon_button_hover_border);
	--icon_button_focus_outline: var(--button_outline);
	--icon_button_focus_transition: var(--button_transition);

	/* INACTIVE/DISABLED ICON BUTTON */
	--inactive_icon_button_bg_color: var(--icon_button_bg_color);
	--inactive_icon_button_color: var(--faded_text_color);
	--inactive_icon_button_fill: var(--icon_button_fill);
	--inactive_icon_button_cursor: var(--button_cursor);
	--inactive_icon_button_border: var(--icon_button_border);
	--inactive_icon_button_outline: var(--button_outline);
	--inactive_icon_button_transition: var(--button_transition);
}


@media (prefers-color-scheme: dark) {
	:root {
		font-weight: 300;
		--text_color: var(--sc_white);
		--faded_text_color: var(--sc_gray);
		--inverted_text_color: var(--sc_black);
		--s_faded_border_color: var(--sc_faded_white);
		--sc_faded_bg_color: var(--sc_faded_white);
		--main_background: var(--sc_dark_blue);
		/* --main_background: var(--sc_black); */
		/* --header_bg_color: var(--sc_dark_blue); */
		--header_bg_color: var(--sc_black);
		--header_color: var(--text_color);
		--s_box_shadow_color: var(--sc_black);

		--card_bg_color: var(--sc_faded_bg_color);
		--card_border_color: #3d3d43;

		--loading_animation_webkit_gleam_gradient: -webkit-linear-gradient(left, #e9eaed00, #f8f8f830, #e9eaed00);
		--loading_animation_gleam_gradient: linear-gradient(left, #e9eaed00, #f8f8f830, #e9eaed00);



		/* BUTTONS */
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--text_color: var(--sc_dark_blue);
		--faded_text_color: #202124a8;
		--inverted_text_color: var(--sc_white);
		--main_background: var(--sc_white_1);
		--header_bg_color: var(--sc_white);
		--header_color: var(--text_color);

		--loading_animation_webkit_gleam_gradient: -webkit-linear-gradient(left, #20212400, #20212410, #20212400);
		--loading_animation_gleam_gradient: linear-gradient(left, #20212400, #20212410, #20212400);
	}

	:root {
		--icon_button_hover_bg_color: var(--sc_faded_black);
	}
}

@media only screen and (min-width: 768px) {
	:root {
		--header_padding: 0 1.5rem;
		--title_font: 300 3rem var(--sc_font_0);

		--sub_margin: 2rem;

		--site_scrollbar_width: 1rem;

		--loading_animation_circle_timespan: 1.2s;
		--loading_animation_bar_timespan: 2s;
		--loading_animation_bar_bg_size: 20rem;

		--button_font: 500 1rem var(--sc_font_0);
		--button_padding: 0.5rem 1rem;
		--button_padding_large: 0.8rem;
		--icon_button_padding: 0.5rem;

		--input_font: 1.2rem var(--sc_font_0);
		--label_font: var(--normal_label_font);


		--user_plan_font: 100 0.8rem var(--sc_font_0);
		--user_profile_options_width: 100%;
		--user_profile_options_left: 0;
	}
}

._heading {
	font-family: var(--heading_font_family);
}

._highlighted_text {
	color: var(--highlighted_text_color);
	font-weight: 500 !important;
}


body {
	/* background-color: var(--main_background); */
	height: 100%;
	overflow: auto;
}

body p {
	color: var(--text_color);
}

.sc_red {
	color: var(--sc_red);
}

.sc_red_bg {
	background-color: var(--sc_red);
}

.sc_black {
	color: var(--sc_black);
}

.sc_gray {
	color: var(--sc_gray);
}

.sc_white {
	color: var(--sc_white);
}

.sc_blue {
	color: var(--sc_blue);
}

.sc_pink {
	color: var(--sc_pink);
}

.sc_black_bg {
	background-color: var(--sc_black);
}

.sc_gray_bg {
	background-color: var(--sc_gray);
}

.sc_white_bg {
	background-color: var(--sc_white);
}

.sc_blue_bg {
	background-color: var(--sc_blue);
}

.sc_pink_bg {
	background-color: var(--sc_pink);
}

.styled_shash,
.styled_at,
.styled_plus {
	color: var(--styled_sign_color);
	margin: 0.2rem;
	font: var(--styled_sign_font);
	font-style: italic;
}

._header_less_vh {
	height: var(--header_less_vh);
}

::selection {
	color: var(--selected_text_color);
	-webkit-text-fill-color: var(--selected_text_color);
	background: var(--selected_text_bg_color);
}


.site_color_0_text,
.site_color_0_text * {
	color: var(--site_color_0);
}

.site_color_1_text,
.site_color_1_text * {
	color: var(--site_color_1);
}

.site_color_2_text,
.site_color_2_text * {
	color: var(--site_color_2);
}

::-webkit-scrollbar {
	width: var(--site_scrollbar_width);
}

::-webkit-scrollbar-track {
	background-color: var(--site_scrollbar_track_color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--site_scrollbar_thumb_color);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--site_scrollbar_thumb_hover_color);
}

body *::-webkit-scrollbar {
	width: var(--site_scrollbar_width);
}

body *::-webkit-scrollbar-track {
	background-color: var(--site_scrollbar_track_color);
}

body *::-webkit-scrollbar-thumb {
	background-color: var(--site_scrollbar_thumb_color);
}

body *::-webkit-scrollbar-thumb:hover {
	background-color: var(--site_scrollbar_thumb_hover_color);
}

._thin_scrollbar::-webkit-scrollbar {
	width: 0.3rem;
}

.loading_animation_wrapper {}

.loading_animation {
	margin: 1rem 0;
	overflow: hidden;
}

.loading_animation_circle {
	max-height: 5rem;
	max-width: 5rem;
	height: 100%;
	width: 100%;
	min-width: 1rem;
	min-height: 1rem;
	border: var(--loading_animation_circle_border);
	border-top: var(--loading_animation_circle_border_top);
	border-radius: 50%;
	-webkit-animation: rotate var(--loading_animation_circle_timespan) ease-in-out infinite;
	animation: rotate var(--loading_animation_circle_timespan) linear infinite;
}

.loading_animation.bar {
	height: 2rem;
	-webkit-animation: gleam var(--loading_animation_bar_timespan) ease-in-out infinite;
	background-image: var(--loading_animation_gleam_gradient);
	background-image: var(--loading_animation_webkit_gleam_gradient);
	background-size: var(--loading_animation_bar_bg_size);
	background-repeat: no-repeat;
	animation: gleam var(--loading_animation_bar_timespan) ease-in-out infinite;
}

.loading_animation.bar.small {
	-webkit-animation: gleam 1.2s ease-in-out infinite;
	background-size: 10rem;
	animation: gleam 1.2s ease-in-out infinite;
}

.loading_animation p {
	height: 1rem;
	transition: all 0.2s;
	margin: auto 2px 0 2px;
}

.loading_animation .p0 {
	animation: _loading_animation 1.2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.loading_animation .p1 {
	animation: _loading_animation 1.2s cubic-bezier(0, 0, 0.2, 1) 0.2s infinite;
}

.loading_animation .p2 {
	animation: _loading_animation 1.2s cubic-bezier(0, 0, 0.2, 1) 0.4s infinite;
}

@-webkit-keyframes gleam {
	0% {
		background-position: -10rem 0
	}

	100% {
		background-position: 200% 0
	}
}

@keyframes gleam {
	0% {
		background-position: -10rem 0
	}

	100% {
		background-position: 200% 0
	}
}

@-webkit-keyframes rotate {
	0% {
		rotate: 0deg;
	}

	100% {
		rotate: 360deg;
	}
}

@keyframes rotate {
	0% {
		rotate: 0deg;
	}

	100% {
		rotate: 360deg;
	}
}

@keyframes _loading_animation {
	0% {
		margin-bottom: 16px;
	}

	;

	25% {
		margin-bottom: 12px;
	}

	;

	50% {
		margin-bottom: 8px;
	}

	;

	75% {
		margin-bottom: 4px;
	}

	;

	100% {
		margin-bottom: 0px;
	}

	;
}

.loading_animation_container {
	background-color: transparent;
	height: 0;
	width: 0;
	position: fixed;
	top: var(--header_height);
	z-index: 10;
}

.loading_animation_container.active {
	height: 100%;
	width: 100%;
}